*{
  margin: 0%;
  padding: 0%;
  background-color: black;
}

.content{
  margin-left: 600px;
  margin-top: 30px;
}

.heading{
  margin-left: 540px;
  margin-top: 20px;
  font-size: 18px;
  font-family: sans-serif;
  color: whitesmoke;
}

.main {
  margin-left: 390px;

}

.form input {
  padding: 20px;
  width: 500px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid rgb(29 161 242);
  outline-style: none;
  padding-bottom: 10px;

}

.btn button{
  
  margin-left: 150px;
  margin-top: 25px;
  padding: 15px;
  width: 200px;
  border-radius: 30px;
  border: none;
  outline-style: none;
  color: white;
  background-color:lightcoral;
  opacity: .5;
}